@import "mixins";

body {
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0;
}

.uf {
  &_main_wrapper {
    align-items: center;
    box-shadow: 0 0 30px black;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: auto;
    max-width: 1220px;

    h1, h2, h3, h4, h5, h6 {
      color: #fff;
      font-family: "Megrim", sans-serif;

      a {
        color: #fff;
        transition: color 0.3s ease;
        &:hover {
          color: green;
        }
      }
    }
  }

  &_footer {
    background: url('intro-forest-trees_web.png') center 60px no-repeat;
    background-size: cover;
    height: 330px;
    width: 100%
  }

  &_header {
    background: url(broken-pool---textured---layout_web.jpg) center no-repeat;
    background-size: cover;
    background-position: center;
    height: 360px;
    width: 100%;

    @include breakpoint{
      background-position: center 91%;
      height: 320px
    }
  }

  &_copy, &_header, &_footer {
    flex: 1 0 auto;
  }

  &_body_copy {
    background: linear-gradient(to bottom, #333333 30%,#000000 100%);
    font-size: px-to-rem(18);
    padding: 50px;
    width: 95%;

    @include breakpoint {
      padding: 30px;
    }

    p {
      font-family: "Times New Roman", serif;
      line-height: px-to-rem(36);
    }
  }

  &_social_links {
    display: flex;
    align-items: center;
    font-size: px-to-rem(18);

    a {
      flex: 1;
      margin: 0 20px;
    }

    img {
      max-width: 50px;
      @include breakpoint{
        max-width: 50px;
      }
    }
  }

}
