@import "mixins";

body {
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0;
}

.uf {
  &_main_wrapper {
    align-items: center;
    box-shadow: 0 0 30px black;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: auto;
    max-width: 1220px;

    h1 {
      color: #fff;
      font-family: "Megrim", sans-serif;
    }
  }

  &_footer {
    background: url('footer-image.png') center no-repeat;
    background-size: cover;
    height: 330px;
    width: 100%
  }

  &_header {
    background: url(forest3.jpg) center no-repeat;
    background-size: cover;
    background-position: center 63%;
    height: 320px;
    width: 100%;
  }

  &_copy, &_header, &_footer {
    flex: 1 0 auto;
  }

  &_body_copy {
    background: linear-gradient(to bottom, #333333 30%,#000000 100%);
    font-size: px-to-rem(18);
    padding: 50px;

    @include breakpoint {
      padding: 30px;
    }

    p {
      font-family: "Times New Roman", serif;
      line-height: px-to-rem(36);
    }
  }

  &_social_links {
    display: flex;
    align-items: center;
    font-size: px-to-rem(18);

    a {
      flex: 1;
      margin: 0 20px;
    }

    img {
      max-width: 50px;
      @include breakpoint{
        max-width: 50px;
      }
    }
  }

}
